/* Shape */

#encounter-container {
  width: 50vw;
  height: 55vh;
  position: fixed;
  top: 15vh;
  left: 4rem;
  border-radius: 32px;
  /* background-color: #f5f5f5; */
  display: flex;
  flex-direction: column;
  outline: 0;
  /* blur the background and make transparent */
  background-color: var(--md-sys-color-surface-variant);
  
  font-family: 'Martian Mono', monospace;
  font-size: 1.5vh;
}
#encounter-container::before,
#encounter-container::after {
  content: '';
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--md-sys-color-surface-variant);
  transform: translateY(-50%);
}

#encounter-container::before {
  width: 6rem;
  height: 6rem;
  right: 2rem;
  bottom: -6rem;
}

#encounter-container::after {
  bottom: -8rem;
  right: -2rem;
}


/* Title */
.major-title-container{
  border-radius: 32px;
  padding: 0.5rem 1rem;
  width: auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  left: 1rem;
  top: -1rem;

  font-size: 1.75rem;
  /* center align contents */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;

  transition: all 0.3s ease-in-out; /* Add transition property */

}

.major-title-container.centered {
  left: calc(50% - 17rem); 
  top: 40%;

  font-size: 2.5rem;
  width: 34rem;
}


/* Contents */
.content-container{
  order:2;
  width:100%;
  height:100%;
}

.event-description {
  padding: 4rem;
  padding-top: 3rem;
  padding-bottom: 0rem;
  font-size: 1.25rem;
  font-style: italic;
}

.content-container #content-central-box{
  padding:2rem;
  height:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  /* grid-gap: 1rem; */
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

  
  overflow-y: scroll;
  box-sizing: border-box;
}

#content-central-box.event-active{
  justify-content: flex-start;
  align-items: start;
  height: auto;
}


.content-container #content-central-box::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* shop/encounter buttons */
#content-central-box button {
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0;
  text-transform: capitalize;
  border: none;
  border-radius: 0.5rem;
  z-index: 2;
  font-family: 'Martian Mono', monospace;

  
  background-color: var(--md-sys-color-tertiary-variant);
  color: var(--md-sys-color-tertiary);
  cursor: pointer;
  outline: 4px solid var(--md-sys-color-tertiary);
  outline-offset: -2px;
  
  transition: all 0.2s ease-in-out;
}

/* if not .shop-item-disabled */


#content-central-box button:not(.shop-item-disabled):hover {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-radius: 16px;
  transform: scale(1.1);
}
.shop-item-disabled {
  outline-width: 1px;
  outline-color: var(--md-sys-color-on-tertiary);
  pointer-events: none;
  opacity: 0.5;
}



#content-central-box button.stat-shop-item {
  /* border-radius: 50px; */
  /* dotted */
  outline: 4px dashed var(--md-sys-color-tertiary);
}

#content-central-box button.usable-shop-item {
  border-radius: 50px;
}

#content-central-box button.magic-shop-item {
  /* shadow */
  
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px var(--md-sys-color-tertiary);
}

.weapon-shop-item {
  position: relative; /* Add this line */
  /* Other styles */
}



/* .weapon-shop-item::before {
  outline-width: 2rem;
  outline-color: var(--md-sys-color-tertiary);

  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: -0.7rem;
  right: -0.7rem;
  z-index: 5;
  filter: grayscale(100%);
  display: flex;
  justify-content: center;
  align-items: center;
} */

