#enemy-box {
  position: absolute;
  top: 0;
  right: 3%;
  width: 40%;
  height: 100vh;
  
  -webkit-transform: skewX(-3deg);
  -moz-transform: skewX(-3deg);
  -ms-transform: skewX(-3deg);
  -o-transform: skewX(-3deg);
  transform: skewX(-3deg);
  /* center contents */
  display: flex;
  justify-content: center;
  align-items: center;
}

#enemy-box #zone-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: var(--transparent-background);
  /* back blur */
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);

  opacity: 0.97;
  

}

#enemy-box #zone-image {

  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../Zones/Images/zone-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  
/*   
  padding-left: 30px;
  margin-left: -30px; */
  /* clip so that the outer #enemy-box div contains the backgroudn image */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 0%);

}

.enemies {
  width: 100%;
  height: 100%;
  /* center contents */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--md-sys-color-surface); */
  margin-bottom: 30%;
}

.enemy {
  -webkit-transform: skewX(3deg);
  -moz-transform: skewX(3deg);
  -ms-transform: skewX(3deg);
  -o-transform: skewX(3deg);
  transform: skewX(3deg);

  width: 85%;
  position: relative;
  border-radius: 32px;
  background-color: var(--transparent-background);
  margin: 1rem;
}

.enemy {
  display: none; /* hide the element */
  margin: rem;
}

.enemy.visible {
  display: block; /* show the element */
}

#enemy-health {
  display: flex;
  width: 100%;
  /*set flex to space between */
  justify-content: space-between;
  align-items: center;

}

#enemy-hp {
  margin-left: 0;
  padding: 0rem 1rem;
  padding-right: 1.5rem;
}

#enemy-name-box {
  margin-top: 0rem;
  font-weight: bolder;
  font-family: 'Martian Mono', monospace;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#enemy-name-box .timer {
  
  position: absolute;
  right: 1rem;

}

#enemy-time {
  color: var(--md-sys-color-primary-container);
  display: none;
}

#enemy-name {
  padding: 0.5rem;
  margin: 0;
  text-transform: capitalize;
}

#enemy-stats {
  /* set to an evently spaced grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 8rem)); /* default size is 100px */
  grid-template-rows: 1fr;
  justify-items: center;
  /* center the items when items don't fill the grid */
  justify-content: center;
  text-transform: capitalize;
  padding: 1rem;
}

/* Individual Stat Displays */
#enemy-stats .enemy-stat {
  min-width: 75%;
  /* height: 50%; */
  padding: 0rem;
  margin: 0rem;
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
  box-shadow: 0px 0px 10px 0px var(--md-sys-color-shadow);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 0.75rem;
  line-height: 1rem;
  
  border-radius: 1rem;
}

#enemy-stats .enemy-stat .enemy-stat-icon-container {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  height: 100%;
  width: 50%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1px;
}

#enemy-stats .enemy-stat .enemy-stat-value {
  width: 100%;
  padding: 0rem 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}


#enemy-stats div svg {
  position: inherit;
  fill: var(--md-sys-color-on-primary-container);
  stroke: var(--md-sys-color-on-primary-container);
  
  /* background-color: var(--md-sys-color-primary-container); */
  
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.75rem;
  margin: -1px;
}