/* Game Menu Header */

.game-header{
    width:100%;
    /* padding:0.9%; */
  
    position: relative;
    z-index: 8;
}

.game-header p {
    float: left;
    font-size: 1.75rem;
    margin: 0px 0px;
    font-weight: bold;
    /* color: #fff; */
}
  
#wave-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    fill: var(--md-sys-color-primary);
    pointer-events: none;
}

#sineWave-2 {
    fill: var(--md-sys-color-primary);
}

#sineWave-1 {
    fill: var(--md-sys-color-primary-container);

}

