/* Next Button */
.floating-next {
  position: absolute;
  bottom: 20rem;
  right: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background-color: var(--md-sys-color-tertiary);
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* animation: pop-up 0.3s ease-in-out forwards; */
}

.floating-next:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.floating-next:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.floating-next.show {
  right: -2rem; /* pop up */
  animation: pop-up 0.3s ease-in-out forwards;
}
.floating-next.hide {
  right: -5rem; /* pop down */
  animation: pop-down 0.3s ease-in-out forwards;
  /* prevent it from being clickable */
  pointer-events: none;

}

@keyframes pop-down {
  from {
    right: -2rem;
    opacity: 1;
  }
  to {
    right: -5rem;
    opacity: 0;
  }
}

@keyframes pop-up {
  from {
    right: -5rem;
    opacity: 0;
  }
  to {
    right: -2rem;
    opacity: 1;
  }
}

.material-icons {
  font-size: -2rem;
  color: var(--md-sys-color-on-tertiary);
}
/* Next Button End */