#player-box {
  /* set floating on top right */
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;

  width: 45%;
  /* height: 12%; */

  border-radius: 32px;
  border-bottom-right-radius: 0px;

  padding: 0rem 1rem;

  display: flex;
  flex-direction: column;
}

#player-box #player-top-row {
  display: flex;
  flex-direction: row;
  /* center */
  justify-content: center;
  align-items: center;
}


#player-name {
  padding: 0rem 1rem;
  border-radius: 1rem;
  text-transform: capitalize;
}


#player-box #player-stats-row {
  /* right justify */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;

}

#player-time {
  padding: 1rem 1rem;
  border-radius: 1rem;
  margin: 0;
  width: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0rem 1rem;
}

.player-stat {
  
  height: 100%;
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
  padding: 0rem;
  margin: 0rem;
  box-shadow: 0px 5px 5px 0px var(--md-sys-color-shadow);
  display: flex;
  align-items: center;
  margin: 0rem 0.75rem;
  line-height: 1rem;
  
  border-radius: 1rem;
}

.player-stat-icon-container {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  height: 100%;
  width: 50%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


#player-stats div svg {
  position: inherit;
  fill: var(--md-sys-color-on-tertiary);
  stroke: var(--md-sys-color-on-tertiary);
  
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin: -1px;
}

.player-stat-value {
  color: var(--md-sys-color-on-tertiary-container);
  padding: 0.5rem;
  /* center */
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  padding-left: 2px;
}

.player-stat-extra {
  /* glowing shadow on text */
  text-shadow: 0px 0px 5px var(--md-sys-color-on-tertiary-container);
  /* remove backgound */
  background-color: transparent;
  padding: 0rem 0.5rem;
  margin: 0;
}