/* Magic and Item box */

#toolbox {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 25%;
  z-index: 2;
  margin: 2rem;
  
  border-radius: 32px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


#toolbox > div {
  border-radius: 16px;
  margin: 1rem;
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 0;
}

#items-tab-row {
  width: 100%;
  height: 110%;
}

.items-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

}

#items-box-label {
  margin: 0;
  /* width: 30%; */
  text-align: center;
  border-radius: 8px;
  padding: 0.5rem;
  opacity: 0.75;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  /* add colored border */
  border: 4px solid var(--md-sys-color-primary);
  color: var(--md-sys-color-primary);
}

.items-container .usable-item-uses {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 16px;
  /* center contents */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.items-container .usable-item-info {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* center */
  /* align-items: center; */
  justify-content: center;
  
}

.items-container .usable-item-info div {
  text-align: left;
}

.items-container .usable-item-info > div:nth-child(2) {
  font-size: 0.8rem;
}

.items-container button {
  text-transform: capitalize;
  border: none;
  border-radius: 9px;
  z-index: 2;
  font-family: 'Martian Mono', monospace;
  font-weight: bold;
  font-size: 1rem;
  /* transition: all 0.2s ease-in-out; */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding-inline: 0;
  padding-block: 0;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.items-container button:hover {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-primary-container);
  /* transform: scale(1.3); */
  
  /* make right side extend out over the side of the container box*/
  /* position: absolute; */
  /* transform: translateY(20%);
  height: 60%;
  z-index: 1;
  transition: all 0.2s ease-in-out; */
}




#magic-tab-row {
  height: 110%;
  width: 100%;

  display: flex;
  flex-direction: row;
  padding: 0
}

#spell-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* center */
  /* justify-content: center; */
  align-items: center;

  
  
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  };
}

.spell-container button {
  width: 90%;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: none;
  border-radius: 8px;
  z-index: 2;
  font-family: 'Martian Mono', monospace;
  color: var(--md-sys-color-on-primary);
  
  cursor: pointer;
  
  outline-offset: -2px;

  margin: 0.5rem;
  box-shadow: 0 1px 0.2rem var(--md-sys-color-tertiary);

  
  
  transition: all 0.1s ease-in-out;

  animation: spell-button 5s linear infinite;
  background: linear-gradient(-45deg, var(--md-sys-color-tertiary), var(--md-sys-color-secondary), var(--md-sys-color-primary));
  background-size: 600%;
}

.spell-container button:first-child {
  margin-top: 1rem;
}

#magic-tab-row button:hover {
  animation: spell-button 1s linear infinite;
  
  box-shadow: 0 2px 0.5rem var(--md-sys-color-tertiary);
  /* transform: scale(1.3); */
  transition: all 0.2s ease-in-out;
  transform: translateY(-2px);
}


/* MP Bar */
.magic-tab-mana-container {
  display: flex;
  flex-direction: column;
  /* center */
  justify-content: center;
  align-items: flex-end;

  height: 100%;
  /* width: 10px; */
}

#mana-count-title {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  /* center */
  justify-content: center;
  align-items: center;
  
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#mana-bar-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-top: 1rem;
  background: var(--md-sys-color-on-primary);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;
  /* position: relative; */

  /* flip vertically */
  transform: rotate(180deg);

}
#mana-bar {
  background: var(--md-sys-color-tertiary);
  border-radius: 8px;
  /* width: 10px; */
  height: 100%;
  position: relative;
  
  transition: width .5s linear;

  animation: spell-button 3s linear infinite;
  background: linear-gradient(-90deg, var(--md-sys-color-tertiary), var(--md-sys-color-secondary), var(--md-sys-color-primary));
  background-size: 600%;
}

#mana-hit-bar {
  background: rgba(255, 255, 255, 0.334);
  position: absolute;
  border-radius: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  
  transition: width .5s linear;
}


@keyframes spell-button {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
