.fifth-tab{
  width: calc(20% - 1px);
  height:100%;
  float:right;
  z-index: 2;
}

.entity-panel {
  margin-right: 2rem;
  -webkit-transform: skewX(-3deg);
  -moz-transform: skewX(-3deg);
  -ms-transform: skewX(-3deg);
  -o-transform: skewX(-3deg);
  transform: skewX(-3deg);
  padding-top: 3rem;
  outline-offset: 0.3rem;
  outline-style: dashed;

  position: relative;
  right: 0.5rem;

}

.entity-panel * {
  -webkit-transform: skewX(3deg);
  -moz-transform: skewX(3deg);
  -ms-transform: skewX(3deg);
  -o-transform: skewX(3deg);
  transform: skewX(3deg);
}

#enemy-tab {
  outline-style: dotted;
}

.stat-display{
  text-align:center;
  line-height:5vh;
  font-size: 1.9vh;
}


#player-health-bar-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  height: 20px;
  padding: 5px;
  background: var(--md-sys-color-on-secondary);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;
  position: relative;

  margin: 1rem;
}
#player-health-bar {
  background: var(--md-sys-color-secondary);
  border-radius: 8px;
  width: 100%;
  height: 10px;
  position: relative;
  
  transition: width .5s linear;
}
#player-health-hit-bar {
  background: rgba(255, 255, 255, 0.334);
  position: absolute;
  border-radius: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  
  transition: width .5s linear;
}

#enemy-health-bar-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  height: 20px;
  padding: 5px;
  background: var(--md-sys-color-on-primary);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;
  position: relative;
  margin: 1rem;
}
#enemy-health-bar {
  background: var(--md-sys-color-primary);
  border-radius: 8px;
  width: 100%;
  height: 10px;
  position: relative;
  
  transition: width .5s linear;
}
#enemy-health-hit-bar {
  background: rgba(255, 255, 255, 0.334);
  position: absolute;
  border-radius: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  
  transition: width .5s linear;
}

