.fifth-tab{
  width: calc(20% - 1px);
  height:100%;
  float:left;
  z-index: 2;
}

.entity-panel {
  margin-left: 2rem;
  -webkit-transform: skewX(-3deg);
  -moz-transform: skewX(-3deg);
  -ms-transform: skewX(-3deg);
  -o-transform: skewX(-3deg);
  transform: skewX(-3deg);
  padding-top: 3rem;
  outline-offset: 0.3rem;
  outline-style: dashed;
}

.entity-panel * {
  -webkit-transform: skewX(3deg);
  -moz-transform: skewX(3deg);
  -ms-transform: skewX(3deg);
  -o-transform: skewX(3deg);
  transform: skewX(3deg);
}

#enemy-tab {
  outline-style: dotted;
}