
@import url(main_menu.css);
@import url(components.css);
@import url(GameMenu/header.css);
@import url(GameMenu/next-level-button.css);
@import url(theme_selection.css);
@import url(Modules/Tokens/tokens-font.css);
@import url(GameMenu/equipment-menu.css);
@import url(entity-panels.css);
@import url(GameMenu/encounter-box.css);
@import url(GameMenu/toolbox.css);
@import url(tail.css);

:root {
  /* override default token shadows */
  --md-sys-color-shadow-light: rgba(0, 0, 0, 0.2);
  --md-sys-color-shadow-dark: rgba(0, 0, 0, 0.2);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Martian Mono', monospace;
  /* background-color: var(--transparent-background); */
  background-color: var(--md-sys-color-background);
  /* background-color: rgba(122, 22, 52, 0.295); */
  /* I need to add a new color for each theme that has low opacity for background overlay */
  color: var(--md-sys-color-on-background);
}

/* Backgrounds */
body.zone-1::before {
  content: "";
  position: fixed;
  left: -3%;
  width: 100%;
  height: 100%;
  background: url(../Zones/Images/grassland.png) no-repeat center center fixed;
  background-size: cover;
  filter: blur(15px);
  z-index: -1;
  opacity: 0.9;
  transform: scale(1.1);
}

body.zone-2::before {
  content: "";
  position: fixed;
  left: -3%;
  width: 100%;
  height: 100%;
  background: url(../Zones/Images/forest.png) no-repeat top center fixed;
  background-size: cover;
  filter: blur(15px);
  z-index: -1;
  opacity: 0.9;
  transform: scale(1.1);
}

body.zone-3::before {
  content: "";
  position: fixed;
  left: -3%;
  width: 100%;
  height: 100%;
  background: url(../Zones/Images/beach.png) no-repeat top center fixed;
  background-size: cover;
  filter: blur(15px);
  z-index: -1;
  opacity: 0.9;
  transform: scale(1.1);
}

.hidden{
  display:none;
}

.bold {
  font-weight: bold;
}

#game-screen{
  width: 100%;
  height: 100%;
}



.header-p{
  float:left;
  font-size:10pt;
  margin:-1px 2.5% 0px 0px;
}

.non-game-header{
  height:100%;
  width: 100%;
  /* position elements to the right */


}


.fifth-tab#large-tab{
  width:calc(40% - 1px);
}

#combatTimer{
  text-align: center;
  font-size: 13vh;
  font-weight: bold;
  margin: 4.5vh 0 0 0;
}



#player-box {
  /* set floating on top right */
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;

  width: 40%;
  height: 12%;

  border-radius: 32px;
  /* set bottom right corner to not be rounded */
  border-bottom-right-radius: 0px;

}



#enemy-box {
  position: absolute;
  top: 0;
  right: 3%;
  width: 40%;
  height: 100vh;
  
  -webkit-transform: skewX(-3deg);
  -moz-transform: skewX(-3deg);
  -ms-transform: skewX(-3deg);
  -o-transform: skewX(-3deg);
  transform: skewX(-3deg);
  /* center contents */
  display: flex;
  justify-content: center;
  align-items: center;

}

#enemy-box #zone-image {
  
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../Zones/Images/grassland.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
/*   
  padding-left: 30px;
  margin-left: -30px; */
  filter: blur(10px);
  /* clip so that the outer #enemy-box div contains the backgroudn image */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 0%);

}

#enemy {
  -webkit-transform: skewX(3deg);
  -moz-transform: skewX(3deg);
  -ms-transform: skewX(3deg);
  -o-transform: skewX(3deg);
  transform: skewX(3deg);

  width: 85%;
  position: absolute;
  top:15%;
  border-radius: 32px;
}

#enemy-health {
  display: flex;
  width: 100%;
  /*set flex to space between */
  justify-content: space-between;
  align-items: center;

}

#enemy-hp {
  margin-left: 0;
  padding: 0rem 1rem;
  padding-right: 1.5rem;
}

#enemy-name-box {
  margin-top: 0rem;
  font-weight: bolder;
  font-family: 'Martian Mono', monospace;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#enemy-time {
  position: absolute;
  right: 1.5rem;
  color: var(--md-sys-color-primary-container)
}

#enemy-name {
  padding: 0.5rem;
  margin: 0;
  text-transform: capitalize;
}

#enemy-stats {
  /* set to an evently spaced grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  text-transform: capitalize;
  padding: 1rem;
}

/* Individual Stat Displays */
#enemy-stats .enemy-stat {
  min-width: 75%;
  /* height: 50%; */
  padding: 0rem;
  margin: 0rem;
  border-radius: 0.5rem;
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
  box-shadow: 0px 0px 10px 0px var(--md-sys-color-shadow);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 0.75rem;
  line-height: 1.5rem;
}

#enemy-stats .enemy-stat .enemy-stat-name {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  height: 100%;
  width: 50%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  margin: -1px;
}

#enemy-stats .enemy-stat .enemy-stat-value {
  width: 100%;
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.fullViewport {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}