
@import url(main_menu.css);
@import url(components.css);
@import url(GameMenu/header.css);
@import url(GameMenu/next-level-button.css);
@import url(theme_selection.css);
@import url(Modules/Tokens/tokens-font.css);
@import url(GameMenu/equipment-menu.css);
@import url(entity-panels.css);
@import url(GameMenu/encounter-box.css);

:root {
  /* override default token shadows */
  --md-sys-color-shadow-light: rgba(0, 0, 0, 0.2);
  --md-sys-color-shadow-dark: rgba(0, 0, 0, 0.2);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Martian Mono', monospace;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background)
}

.hidden{
  display:none;
}

.bold {
  font-weight: bold;
}

#game-screen{
  width: 100%;
  height: 100%;
}







.header-p{
  float:left;
  font-size:10pt;
  margin:-1px 2.5% 0px 0px;
}

.non-game-header{
  height:100%;
  width: 100%;
  /* position elements to the right */


}



.fifth-tab#large-tab{
  width:calc(40% - 1px);
}





/* .large-tab-row {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
} */




#toolbox {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30rem;
  height: 20rem;
  z-index: 2;
  margin: 1rem;
  
  /* blur the background */
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 32px;

  display: flex;

}

#items-tab-row {
  margin: 1rem;

}

#magic-tab-row {
}


.major-title-container{
  order:1;
  width:100%;
  height: 25%;
  justify-content: center;
  align-items: center;
}
.content-container{
  order:2;
  width:100%;
  height:50%;
}
.content-container #content-central-box{
  padding:2rem;
  height:120%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

  
  overflow-y: scroll;
  box-sizing: border-box;
}

.content-container #content-central-box::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#content-central-box button {
  padding: 1rem;
  text-transform: capitalize;
  border: none;
  border-radius: 0.5rem;
  z-index: 2;
  font-family: 'Martian Mono', monospace;

  
  background-color: var(--md-sys-color-tertiary-variant);
  color: var(--md-sys-color-tertiary);
  cursor: pointer;
  outline: 4px solid var(--md-sys-color-tertiary);
  outline-offset: -2px;
  
  transition: all 0.2s ease-in-out;
}
/* make these buttons all have the hover class */
#content-central-box button:hover {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-radius: 16px;
  transform: scale(1.05);
}





#large-tab-title{
  font-size:7vh;
  margin:5vh 0vh 0vh 0vh;
  text-align:center;
  vertical-align: center;
  height:100%;
  font-family: 'Martian Mono', monospace;
}
/* #equip-tab{
  display: flex;
  flex-direction: column;
  z-index: 2;
} */

/* #weapon-container{
  order:1;

  z-index: 2;
}
#head-container{
  order:2;
}
#chest-container{
  order:3;
}
#legs-container{
  order:4;
}
#feet-container{
  order:5;
} */

/* .equip-container{
  width:100%;
  height:calc(20% - 2px);
  border-bottom:2px solid black;
  float:left;
} */

.stat-display{
  text-align:center;
  line-height:5vh;
  font-size: 1.9vh;
}

#combatTimer{
  text-align: center;
  font-size: 13vh;
  font-weight: bold;
  margin: 4.5vh 0 0 0;
}