
@import url(main_menu.css);
@import url(components.css);
@import url(GameMenu/header.css);
@import url(GameMenu/next-level-button.css);
@import url(theme_selection.css);
@import url(Modules/Tokens/tokens-font.css);
@import url(GameMenu/equipment-menu.css);
@import url(entity-panels.css);
@import url(GameMenu/encounter-box.css);
@import url(GameMenu/toolbox.css);
@import url(tail.css);
@import url(GameMenu/enemy.css);

:root {
  /* override default token shadows */
  --md-sys-color-shadow-light: rgba(0, 0, 0, 0.2);
  --md-sys-color-shadow-dark: rgba(0, 0, 0, 0.2);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Martian Mono', monospace;
  /* background-color: var(--transparent-background); */
  background-color: var(--md-sys-color-background);
  /* background-color: rgba(122, 22, 52, 0.295); */
  /* I need to add a new color for each theme that has low opacity for background overlay */
  color: var(--md-sys-color-on-background);
}

/* Backgrounds */
body.zone-1::before {
  content: "";
  position: fixed;
  left: -3%;
  width: 100%;
  height: 100%;
  background: url(../Zones/Images/grassland.png) no-repeat center center fixed;
  background-size: cover;
  filter: blur(15px);
  z-index: -1;
  opacity: 0.9;
  transform: scale(1.1);
}

body.zone-2::before {
  content: "";
  position: fixed;
  left: -3%;
  width: 100%;
  height: 100%;
  background: url(../Zones/Images/forest.png) no-repeat top center fixed;
  background-size: cover;
  filter: blur(15px);
  z-index: -1;
  opacity: 0.9;
  transform: scale(1.1);
}

body.zone-3::before {
  content: "";
  position: fixed;
  left: -3%;
  width: 100%;
  height: 100%;
  background: url(../Zones/Images/beach.png) no-repeat top center fixed;
  background-size: cover;
  filter: blur(15px);
  z-index: -1;
  opacity: 0.9;
  transform: scale(1.1);
}

.hidden{
  display:none;
}

.bold {
  font-weight: bold;
}

#game-screen{
  width: 100%;
  height: 100%;
}



.header-p{
  float:left;
  font-size:10pt;
  margin:-1px 2.5% 0px 0px;
}

.non-game-header{
  height:100%;
  width: 100%;
  /* position elements to the right */


}


.fifth-tab#large-tab{
  width:calc(40% - 1px);
}

#combatTimer{
  text-align: center;
  font-size: 13vh;
  font-weight: bold;
  margin: 4.5vh 0 0 0;
}



#player-box {
  /* set floating on top right */
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;

  width: 40%;
  height: 12%;

  border-radius: 32px;
  /* set bottom right corner to not be rounded */
  border-bottom-right-radius: 0px;

}

#go-next-button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

