.tail {
    position: fixed;
    z-index: 999;
    background:var(--translucent-background-color);
    border:1px solid rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter:saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    box-shadow: 0.5rem 0.6rem 2rem rgba(0, 0, 0, 0.3);
  
    border-radius: 16px;
    padding: 0.4rem 1rem;
    max-width: 40%;
    max-height: 90%;
    cursor: grab;
    transition: opacity 0.3s ease-in-out;

    /* make scrollable if content overflows */
    overflow-y: auto;
  

  }
  

  
[data-text-title]:hover {
    z-index: 999999;
}

[data-text-title]:hover:before {
}

[data-text]:hover {
    z-index: 999999;
}

[data-text]:hover:after {
    transition: all 0.1s ease 0.5s;
    visibility: visible;
    display: block;
    content:attr(data-text);

    background:var(--transparent-background);
    border:1px solid rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter:saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    box-shadow: 0.5rem 0.6rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 1rem;
    /* animation: linear 0.75s grow; */
    position: fixed;
    transform: translate(calc( (var(--mouse-x) - var(--element-x)) - (var(--element-width) / 2) ), calc(var(--mouse-y) - var(--element-y) + var(--element-height) + 10));
    z-index: 9999;
}

[data-text]:hover:after:after {
    
    transition: all 0.1s ease 0.5s;
    visibility: visible;
    display: block;
    content:attr(data-text-title);

    background:var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border:1px solid rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter:saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    box-shadow: 0.5rem 0.6rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 0.25rem 0.5rem;
    /* animation: linear 0.75s grow; */
    position: fixed;
    z-index: 999999;
}

/* create a short animation that starts small and grows to full size and moves up slightly */
@keyframes grow {
    0% {
        transform: scale(0) translate(calc( (var(--mouse-x) - var(--element-x)) - (var(--element-width) / 2) ), calc(var(--mouse-y) - var(--element-y) + var(--element-height) + 10 + 50%));
        opacity: 0;
    }
    49% {
        transform: scale(0) translate(calc( (var(--mouse-x) - var(--element-x)) - (var(--element-width) / 2) ), calc(var(--mouse-y) - var(--element-y) + var(--element-height) + 10 + 50%));
        opacity: 0;
    }
    50% {
        transform: scale(0) translate(calc( (var(--mouse-x) - var(--element-x)) - (var(--element-width) / 2) ), calc(var(--mouse-y) - var(--element-y) + var(--element-height) + 10 + 50%));
        opacity: 0;
    }
    70% {
        transform: scale(1.05) translate(calc( (var(--mouse-x) - var(--element-x)) - (var(--element-width) / 2) ), calc(var(--mouse-y) - var(--element-y) + var(--element-height) + 10 + 155%));
        opacity: 1;
    }
    100% {
        transform: scale(1) translate(calc( (var(--mouse-x) - var(--element-x)) - (var(--element-width) / 2) ), calc(var(--mouse-y) - var(--element-y) + var(--element-height) + 10 + 150%));
    }
}
