.tail {
    position: fixed;
    z-index: 999;
    background:var(--translucent-background-color);
    border:1px solid rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter:saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    box-shadow: 0.5rem 0.6rem 2rem rgba(0, 0, 0, 0.3);
  
    border-radius: 16px;
    padding: 0.4rem 1rem;
    max-width: 40%;
    max-height: 90%;
    cursor: grab;
    transition: opacity 0.3s ease-in-out;

    /* make scrollable if content overflows */
    overflow-y: auto;
  

  }
  
[data-text]:hover:after {
    /* opacity: 1; */
    transition: all 0.1s ease 0.5s;
    visibility: visible;

    transform: scale(1) translateY(0%);
}

[data-text]:after {
    content: attr(data-text);
    color: var(--text-color);
    /* font-size: 150%; */
    position: absolute;
    transform: scale(0) translateY(200%);

    top: -20%;
    left: -20%;


    z-index: 9999;
    visibility: hidden;

    background:var(--transparent-background);
    border:1px solid rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter:saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    box-shadow: 0.5rem 0.6rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 1rem;
}
/* [data-title] {
    position: inherit;
} */