.theme-buttons {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  display: flex;
  border-radius: 100px;
}

.theme-buttons button:hover::after {
  display: block;
  position: absolute;
  bottom: 120%;
  left: -10%;
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#theme-buttons-dark {
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

#theme-buttons-light {
  bottom: 8.5rem;
  background-color: whitesmoke
}

.theme-buttons button {
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}


.ocea-button {
  color: #00867d;
  background-image: linear-gradient(45deg, #3a8cb2 0%, #00867d 60%);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.ocea-button:hover::after {
  content: 'Ocea';
}

.hazel-button {
  color: #b75f2d;
  background-image: linear-gradient(45deg, #c4b82d 0%, #a44e1d 60%);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.hazel-button:hover::after {
  content: 'Hazel';
}

.earth-button {
  color: #af650e;
  background-image: linear-gradient(45deg, #4a8b1f 0%, #af650e 60%);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.earth-button:hover::after {
  content: 'Earth';
}

.rose-button {
  color: #7f525d;
  background-image: linear-gradient(45deg, #7f525d 0%, #4e13a5 100%);
  
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.rose-button:hover::after {
  content: 'Lavender Rose';
}

.grey-button {
  color: #737373;
  background-image: linear-gradient(45deg, #2c2c2c 0%, #737373 100%);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.grey-button:hover::after {
  content: 'Greyscale';
}

.forest-button {
  color: #618126;
  background-image: linear-gradient(45deg, #074a0d 0%, #618126 100%);

  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.forest-button:hover::after {
  content: 'Forest';
}

.bloodorange-button {
  color: #9c413d;
  background-image: linear-gradient(45deg, #e46849 0%, #9c413d 100%);

  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.bloodorange-button:hover::after {
  content: 'Blood Orange';
}

.wave-button {
  color: #cd00e2;
  background-image: linear-gradient(45deg, #4c6dea 30%, #fde234 50%, #cd00e2 70%);
  
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.wave-button:hover::after {
  content: 'Wave';
}