:root {
  --md-source: #2b50cd;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001453;
  --md-ref-palette-primary20: #002584;
  --md-ref-palette-primary25: #002e9e;
  --md-ref-palette-primary30: #0238b7;
  --md-ref-palette-primary35: #1d45c3;
  --md-ref-palette-primary40: #2e53d0;
  --md-ref-palette-primary50: #4c6dea;
  --md-ref-palette-primary60: #6b89ff;
  --md-ref-palette-primary70: #92a6ff;
  --md-ref-palette-primary80: #b7c4ff;
  --md-ref-palette-primary90: #dde1ff;
  --md-ref-palette-primary95: #efefff;
  --md-ref-palette-primary98: #fbf8ff;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #36003d;
  --md-ref-palette-secondary20: #590062;
  --md-ref-palette-secondary25: #6b0076;
  --md-ref-palette-secondary30: #7d008b;
  --md-ref-palette-secondary35: #9100a0;
  --md-ref-palette-secondary40: #a400b5;
  --md-ref-palette-secondary50: #cd00e2;
  --md-ref-palette-secondary60: #ec3bff;
  --md-ref-palette-secondary70: #f779ff;
  --md-ref-palette-secondary80: #ffa9ff;
  --md-ref-palette-secondary90: #ffd6fb;
  --md-ref-palette-secondary95: #ffebfa;
  --md-ref-palette-secondary98: #fff7fa;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #271900;
  --md-ref-palette-tertiary20: #412d00;
  --md-ref-palette-tertiary25: #4f3700;
  --md-ref-palette-tertiary30: #5d4200;
  --md-ref-palette-tertiary35: #6c4d00;
  --md-ref-palette-tertiary40: #7b5800;
  --md-ref-palette-tertiary50: #9b7000;
  --md-ref-palette-tertiary60: #bb8800;
  --md-ref-palette-tertiary70: #dda100;
  --md-ref-palette-tertiary80: #fcbc28;
  --md-ref-palette-tertiary90: #ffdea5;
  --md-ref-palette-tertiary95: #ffefd7;
  --md-ref-palette-tertiary98: #fff8f3;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #330045;
  --md-ref-palette-neutral20: #4d1661;
  --md-ref-palette-neutral25: #59236d;
  --md-ref-palette-neutral30: #662f79;
  --md-ref-palette-neutral35: #733b86;
  --md-ref-palette-neutral40: #804893;
  --md-ref-palette-neutral50: #9b60ae;
  --md-ref-palette-neutral60: #b77ac9;
  --md-ref-palette-neutral70: #d394e6;
  --md-ref-palette-neutral80: #eeb1ff;
  --md-ref-palette-neutral90: #fad7ff;
  --md-ref-palette-neutral95: #ffebff;
  --md-ref-palette-neutral98: #fff7fb;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #1a1b23;
  --md-ref-palette-neutral-variant20: #2f3038;
  --md-ref-palette-neutral-variant25: #3a3b43;
  --md-ref-palette-neutral-variant30: #45464f;
  --md-ref-palette-neutral-variant35: #51525b;
  --md-ref-palette-neutral-variant40: #5d5e67;
  --md-ref-palette-neutral-variant50: #767680;
  --md-ref-palette-neutral-variant60: #90909a;
  --md-ref-palette-neutral-variant70: #abaab4;
  --md-ref-palette-neutral-variant80: #c6c5d0;
  --md-ref-palette-neutral-variant90: #e2e1ec;
  --md-ref-palette-neutral-variant95: #f1f0fa;
  --md-ref-palette-neutral-variant98: #fbf8ff;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #2e53d0;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #dde1ff;
  --md-sys-color-on-primary-container-light: #001453;
  --md-sys-color-secondary-light: #a400b5;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffd6fb;
  --md-sys-color-on-secondary-container-light: #36003d;
  --md-sys-color-tertiary-light: #7b5800;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffdea5;
  --md-sys-color-on-tertiary-container-light: #271900;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-background-light-transparent: #fffbffb4;
  --md-sys-color-on-background-light: #330045;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #330045;
  --md-sys-color-surface-variant-light: #e2e1ec;
  --md-sys-color-on-surface-variant-light: #45464f;
  --md-sys-color-outline-light: #767680;
  --md-sys-color-inverse-on-surface-light: #ffebff;
  --md-sys-color-inverse-surface-light: #4d1661;
  --md-sys-color-inverse-primary-light: #b7c4ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #2e53d0;
  --md-sys-color-outline-variant-light: #c6c5d0;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #b7c4ff;
  --md-sys-color-on-primary-dark: #002584;
  --md-sys-color-primary-container-dark: #0238b7;
  --md-sys-color-on-primary-container-dark: #dde1ff;
  --md-sys-color-secondary-dark: #ffa9ff;
  --md-sys-color-on-secondary-dark: #590062;
  --md-sys-color-secondary-container-dark: #7d008b;
  --md-sys-color-on-secondary-container-dark: #ffd6fb;
  --md-sys-color-tertiary-dark: #fcbc28;
  --md-sys-color-on-tertiary-dark: #412d00;
  --md-sys-color-tertiary-container-dark: #5d4200;
  --md-sys-color-on-tertiary-container-dark: #ffdea5;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #330045;
  --md-sys-color-background-dark-transparent: #330045b4;
  --md-sys-color-on-background-dark: #fad7ff;
  --md-sys-color-surface-dark: #330045;
  --md-sys-color-on-surface-dark: #fad7ff;
  --md-sys-color-surface-variant-dark: #505473;
  --md-sys-color-on-surface-variant-dark: #e4e3f0;
  --md-sys-color-outline-dark: #90909a;
  --md-sys-color-inverse-on-surface-dark: #330045;
  --md-sys-color-inverse-surface-dark: #fad7ff;
  --md-sys-color-inverse-primary-dark: #2e53d0;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #b7c4ff;
  --md-sys-color-outline-variant-dark: #45464f;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}