:root {
  --md-source: #984717;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #341100;
  --md-ref-palette-primary20: #562000;
  --md-ref-palette-primary25: #672800;
  --md-ref-palette-primary30: #793000;
  --md-ref-palette-primary35: #893c0a;
  --md-ref-palette-primary40: #984717;
  --md-ref-palette-primary50: #b75f2d;
  --md-ref-palette-primary60: #d77744;
  --md-ref-palette-primary70: #f7915b;
  --md-ref-palette-primary80: #ffb692;
  --md-ref-palette-primary90: #ffdbcb;
  --md-ref-palette-primary95: #ffede6;
  --md-ref-palette-primary98: #fff8f6;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #2c160b;
  --md-ref-palette-secondary20: #432a1e;
  --md-ref-palette-secondary25: #503528;
  --md-ref-palette-secondary30: #5c4033;
  --md-ref-palette-secondary35: #694c3e;
  --md-ref-palette-secondary40: #765849;
  --md-ref-palette-secondary50: #917060;
  --md-ref-palette-secondary60: #ad8979;
  --md-ref-palette-secondary70: #c9a392;
  --md-ref-palette-secondary80: #e6beac;
  --md-ref-palette-secondary90: #ffdbcb;
  --md-ref-palette-secondary95: #ffede6;
  --md-ref-palette-secondary98: #fff8f6;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #1f1c00;
  --md-ref-palette-tertiary20: #353107;
  --md-ref-palette-tertiary25: #413c12;
  --md-ref-palette-tertiary30: #4c481c;
  --md-ref-palette-tertiary35: #585326;
  --md-ref-palette-tertiary40: #655f31;
  --md-ref-palette-tertiary50: #7e7847;
  --md-ref-palette-tertiary60: #99925f;
  --md-ref-palette-tertiary70: #b4ad77;
  --md-ref-palette-tertiary80: #d0c890;
  --md-ref-palette-tertiary90: #ece4aa;
  --md-ref-palette-tertiary95: #fbf2b7;
  --md-ref-palette-tertiary98: #fff9e5;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #201a18;
  --md-ref-palette-neutral20: #362f2c;
  --md-ref-palette-neutral25: #413a37;
  --md-ref-palette-neutral30: #4d4542;
  --md-ref-palette-neutral35: #59514d;
  --md-ref-palette-neutral40: #655d59;
  --md-ref-palette-neutral50: #7f7571;
  --md-ref-palette-neutral60: #998f8b;
  --md-ref-palette-neutral70: #b4a9a5;
  --md-ref-palette-neutral80: #d0c4c0;
  --md-ref-palette-neutral90: #ede0db;
  --md-ref-palette-neutral95: #fbeee9;
  --md-ref-palette-neutral98: #fff8f6;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #241914;
  --md-ref-palette-neutral-variant20: #3b2e27;
  --md-ref-palette-neutral-variant25: #463832;
  --md-ref-palette-neutral-variant30: #52443d;
  --md-ref-palette-neutral-variant35: #5f4f48;
  --md-ref-palette-neutral-variant40: #6b5b54;
  --md-ref-palette-neutral-variant50: #85736c;
  --md-ref-palette-neutral-variant60: #a08d85;
  --md-ref-palette-neutral-variant70: #bba79f;
  --md-ref-palette-neutral-variant80: #d7c2b9;
  --md-ref-palette-neutral-variant90: #f4ded5;
  --md-ref-palette-neutral-variant95: #ffede6;
  --md-ref-palette-neutral-variant98: #fff8f6;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #984717;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdbcb;
  --md-sys-color-on-primary-container-light: #341100;
  --md-sys-color-secondary-light: #765849;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffdbcb;
  --md-sys-color-on-secondary-container-light: #2c160b;
  --md-sys-color-tertiary-light: #73540a;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: rgb(246, 196, 60);
  --md-sys-color-on-tertiary-container-light: #1f1c00;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-background-light-transparent: #fffbffb4;
  --md-sys-color-on-background-light: #201a18;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #201a18;
  --md-sys-color-surface-variant-light: #f4ded5;
  --md-sys-color-on-surface-variant-light: #52443d;
  --md-sys-color-outline-light: #85736c;
  --md-sys-color-inverse-on-surface-light: #fbeee9;
  --md-sys-color-inverse-surface-light: #362f2c;
  --md-sys-color-inverse-primary-light: #ffb692;
  --md-sys-color-shadow-light: rgba(0, 0, 0, 0.2);
  --md-sys-color-surface-tint-light: #984717;
  --md-sys-color-outline-variant-light: #d7c2b9;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #ffb692;
  --md-sys-color-on-primary-dark: #562000;
  --md-sys-color-primary-container-dark: #793000;
  --md-sys-color-on-primary-container-dark: #ffdbcb;
  --md-sys-color-secondary-dark: #e6beac;
  --md-sys-color-on-secondary-dark: #432a1e;
  --md-sys-color-secondary-container-dark: #5c4033;
  --md-sys-color-on-secondary-container-dark: #ffdbcb;
  --md-sys-color-tertiary-dark: #e8a814;
  --md-sys-color-on-tertiary-dark: rgb(28, 26, 3);
  --md-sys-color-tertiary-container-dark: #805b04;
  --md-sys-color-on-tertiary-container-dark: #f6f3da;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #201a18;
  --md-sys-color-background-dark-transparent: #201a18b4;
  --md-sys-color-on-background-dark: #ede0db;
  --md-sys-color-surface-dark: #201a18;
  --md-sys-color-on-surface-dark: #ede0db;
  --md-sys-color-surface-variant-dark: #52443d;
  --md-sys-color-on-surface-variant-dark: #d7c2b9;
  --md-sys-color-outline-dark: #a08d85;
  --md-sys-color-inverse-on-surface-dark: #201a18;
  --md-sys-color-inverse-surface-dark: #ede0db;
  --md-sys-color-inverse-primary-dark: #984717;
  --md-sys-color-shadow-dark: rgba(0, 0, 0, 0.2);
  --md-sys-color-surface-tint-dark: #ffb692;
  --md-sys-color-outline-variant-dark: #52443d;
  --md-sys-color-scrim-dark: #000000;
}
