/* Game Menu Header */

.game-header{
    width:100%;
    height:2rem;
    padding:0.9%;
  
    position: relative;
    z-index: 4;
    /* margin-bottom: 5rem; */
}

.game-header p {
    float: left;
    font-size: 1.75rem;
    margin: -1px 2.5% 0px 0px;
    font-weight: bold;
    /* color: #fff; */
}
  
#game-screen svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

#sineWave {
    fill: var(--md-sys-color-primary);
    fill-opacity: 1;
    pointer-events: none;
}